/node_modules
/public
/resources/_gen/
.hugo_build.lock

zed-gotmpl-master

yarn.lock
hugo_notes.md
.zed
.vscode
theme_colors.txt
ToDo.md
ReadMe.md
codebook.toml
scripts
.ruby-version
not.ruby-version
_site
_resources
.prettierrc.json
