baseURL = 'https://bobrockefeller.com/'
languageCode = 'en-us'
title = 'Bob Rockefeller'

publishDir = '_site'
resourceDir = '_resources'

[Params]
  description = 'What is Bob up to now?'

# Configure Pagination. See https://gohugo.io/templates/pagination/#configuration
[pagination]
  pagerSize = 4

[markup]
  [markup.goldmark]
  [markup.goldmark.parser]
    [markup.goldmark.parser.attribute]
    block = true
    title = true
  [markup.goldmark.renderHooks]
    [markup.goldmark.renderHooks.image]
      useEmbedded = "never"
    [markup.goldmark.renderHooks.link]
      useEmbedded = "fallback"
  [markup.goldmark.renderer]
    unsafe = true # true allows HTML in md files

[menu]
  [[menu.main]]
    name = "About"
    url = "/about"
    weight = 1

  [[menu.main]]
    name = "Categories"
    url = "/categories"
    weight = 2

  [[menu.main]]
    name = "Tags"
    url = "/tags"
    weight = 3

  [[menu.main]]
    name = "Photos"
    url = "https://photos.bobrockefeller.com/"
    weight = 4

[taxonomies]
  tag = "tags"
  category = "categories"
