.menu__link svg {
  fill: currentColor;
  stroke: currentColor;
}

.body {
  font-size: 1rem;
}

figcaption {
  text-align: center;
  font-size: 0.85rem;
}

.menu__list {
  justify-content: center;
}
