 {{ "<!-- layouts/_partials/menu.html -->" | safeHTML }}

 <nav>
    <div class="horiz-logo">
      <img src="/images/logo-horiz.svg" alt="Logo" height="50" width="160" />
    </div>
    <div class="vert-logo">
      <img src="/images/logo-vert.svg" alt="Logo" width="180"/>
    </div>

    <a href="javascript:void(0);" class="icon" onclick="togglelinks()">
      <i class="bi bi-list"></i>
    </a>

    <div class="nav-list" id="menu">
      <ul>
        {{ if .Store.Get "paginator" }}
          {{- with .Store.Get "paginator" }}
            {{ if eq .PageNumber 1 }}
              <li class="inactive">Home</li>
            {{ else }}
              <li><a href="/">Home</a></li>
            {{ end }}
          {{ end }}
        {{ else }}
          {{ if .IsHome }}
            <li>Home</li>
          {{ else }}
            <li><a href="/">Home</a></li>
          {{ end }}
        {{ end }}

        {{ $title := .Title }}
        {{- range .Site.Menus.main }}
          {{ if ne $title .Name }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ else }}
            <li>{{ .Name }}</li>
          {{ end }}
        {{- end }}
        <li>
          <button id="theme-toggle" type="button">
            <span id="theme-toggle-dark-icon" class="hidden w-5 h-5"><i class="bi bi-moon-fill"></i></span>
            <span id="theme-toggle-light-icon" class="hidden w-5 h-5"><i class="bi bi-sun-fill"></i></span>
          </button>
        </li>
      </ul>
      <div class="links">
        <ul>
          {{- partial "links.html" . -}}
          <li class="copyright">
            <span>&copy; {{ now.Year }} <br> Bob Rockefeller. <br> All Rights Reserved.</span>
          </li>
        </ul>
      </div>
    </div>
</nav>
