<nav class="bg-black border-red-600 border-b-6 dark:bg-gray-800 dark:border-red-900">
  <div class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 px-6 mx-auto">

    {{ if .IsHome }}
      <a class="flex items-center space-x-3 rtl:space-x-reverse">
          <span class="self-center font-sans text-xl font-semibold tracking-wider text-white whitespace-nowrap dark:text-gray-400">Bob Rockefeller</span>
      </a>
    {{ else }}
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <span class="self-center font-sans text-xl font-semibold tracking-wider text-white hover:text-red-600 whitespace-nowrap dark:text-gray-400">Bob Rockefeller</span>
      </a>
    {{ end }}

    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="flex flex-col p-4 mt-4 font-medium border border-gray-100 rounded-lg md:p-0 bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-black dark:bg-gray-800 md:dark:bg-gray-800 dark:border-gray-700">

        {{ $title := .Title }}
        {{- range .Site.Menus.main }}
          {{ if ne $title .Name }}
            <li class="">
              <a class="block px-3 py-2 text-gray-900 rounded-sm md:border-0 md:text-white md:hover:text-red-600 md:p-0 dark:text-white md:dark:text-gray-400 md:dark:hover:text-red-900 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent " href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ else }}
            <li class="">
              <a class="block px-3 py-2 text-gray-900 rounded-sm md:border-0 md:text-white md:p-0 dark:text-white md:dark:text-gray-400">{{ .Name }}</a>
            </li>
          {{ end }}
        {{- end }}
        <li>
        <button id="theme-toggle" type="button" class="p-0 text-gray-400">
          <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5 hover:text-red-600 dark:hover:text-red-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
          <svg id="theme-toggle-light-icon" class="hidden w-5 h-5 hover:text-red-600 dark:hover:text-red-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
        </button>
        </li>
      </ul>

    </div>

    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm text-gray-500 rounded-lg hover:text-red-600 md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>

</nav>
