{{ "<!-- layouts/_partials/pagination.html -->" | safeHTML }}
{{ $page := . }}

<div class="flex justify-center text-sm mb-8 md:col-span-2">
  {{ if gt $page.Paginator.TotalPages 1 }}
    <ul class="inline-flex -space-x-px text-base h-10">
      {{ with .Paginator }}
        {{ $start := sub .PageNumber 1 }}
        {{ if lt $start 2 }}
          {{ $start = 2 }}
        {{ end }}

        {{ $end := add $start 2 }}

        {{ if gt $end (sub .TotalPages 1) }}
          {{ $end = sub .TotalPages 1 }}
          {{ $start = sub $end 2 }}
        {{ end }}
        {{ if eq .TotalPages 2 }}
          {{ $start = 0 }}
          {{ $end = 0 }}
        {{ end }}
        {{ if eq .TotalPages 3 }}
          {{ $start = 2 }}
          {{ $end = 2 }}
        {{ end }}
        {{ if eq .TotalPages 4 }}
          {{ $start = 2 }}
          {{ $end = 3 }}
        {{ end }}

        {{/* The left arrow */}}
        {{ with .Prev }}
          <li>
            <a href="{{ .URL }}" aria-label="Previous" role="button" class="rounded-s-lg r-pagination-button" title="Previous Page">&laquo;</a>
          </li>
        {{ else }}
          <li>
            <span aria-disabled="true" aria-label="Previous" role="button" class="rounded-s-lg r-pagination-button r-disabled">&laquo;</span>
          </li>
        {{ end }}

        {{/* The fixed page 1 block */}}
        {{ if eq .PageNumber 1 }}
          <li>
            <span aria-disabled="true" aria-label="Page 1" role="button" class="r-pagination-button r-disabled">1</span>
          </li>
        {{ else }}
          <li>
            <a href="{{ .First.URL }}" aria-label="Page 1" role="button" class="r-pagination-button">1</a>
          </li>
        {{ end }}

        {{/* The page block window */}}
        {{ if or (gt $start 0) (gt $end 0) }}

          {{ range $i, $k := seq $start $end }}

            {{ if not $i }}
              {{ if gt $k 2 }}
                &nbsp;&nbsp;
              {{ end }}
            {{ end }}

            {{ if eq $.Paginator.PageNumber $k }}
              <li>
                <span aria-current="page" role="button" aria-label="Page {{ $k }}" class="r-pagination-button r-disabled">{{ $k }}</span>
              </li>
            {{ else }}
              <li>
                <a href="{{ (index $.Paginator.Pagers (sub $k 1)).URL }}" role="button" aria-label="Page {{ $k }}" class="r-pagination-button">{{ $k }}</a>
              </li>
            {{ end }}

            {{ if eq $i 2 }}
              {{ if ne $k (sub $.Paginator.TotalPages 1) }}
                &nbsp;&nbsp;
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}

        {{/* The fixed last page block */}}
        {{ if eq .PageNumber .TotalPages }}
          <li>
            <span aria-disabled="true" aria-label="Page 1" role="button" class="r-pagination-button r-disabled">{{ .TotalPages }}</span>
          </li>
        {{ else }}
          <li>
            <a href="{{ .Last.URL }}" aria-label="Page 1" role="button" class="r-pagination-button">{{ .TotalPages }}</a>
          </li>
        {{ end }}

        {{/* The right arrow */}}
        {{ with .Next }}
          <li>
            <a href="{{ .URL }}" aria-label="Next" role="button" class="rounded-e-lg r-pagination-button" role="button" title="Next Page">&raquo;</a>
          </li>
        {{ else }}
          <li>
            <span aria-disabled="true" aria-label="Next" role="button" class="rounded-e-lg r-pagination-button r-disabled">&raquo;</span>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}
</div>
