{{ "<!-- layouts/_partials/pagination.html -->" | safeHTML }}
{{ $page := . }}

<div class="pagination">
  {{ if gt $page.Paginator.TotalPages 1 }}
    <ul class="button-nav">
      {{ with .Paginator }}
        {{ $start := sub .PageNumber 1 }}
        {{ if lt $start 2 }}
          {{ $start = 2 }}
        {{ end }}

        {{ $end := add $start 2 }}

        {{ if gt $end (sub .TotalPages 1) }}
          {{ $end = sub .TotalPages 1 }}
          {{ $start = sub $end 2 }}
        {{ end }}
        {{ if eq .TotalPages 2 }}
          {{ $start = 0 }}
          {{ $end = 0 }}
        {{ end }}
        {{ if eq .TotalPages 3 }}
          {{ $start = 2 }}
          {{ $end = 2 }}
        {{ end }}
        {{ if eq .TotalPages 4 }}
          {{ $start = 2 }}
          {{ $end = 3 }}
        {{ end }}

        {{/* The left arrow */}}
        <li>
          {{ with .Prev }}
            <a href="{{ .URL }}" aria-label="Previous" role="button" title="Previous Page"> <i class="bi bi-caret-left-fill"></i></a>
          {{ else }}
            <span aria-disabled="true" aria-label="Previous" role="button"><i class="bi bi-caret-left-fill inactive"></i></span>
          {{ end }}
        </li>

        {{/* The fixed page 1 block */}}
        <li>
          {{ if eq .PageNumber 1 }}
            <span aria-disabled="true" aria-label="Page 1" role="button" class="inactive">1</span>
          {{ else }}
            <a href="{{ .First.URL }}" aria-label="Page 1" role="button">1</a>
          {{ end }}
        </li>

        {{/* The page block window */}}
        {{ if or (gt $start 0) (gt $end 0) }}

          {{ range $i, $k := seq $start $end }}

            {{ if not $i }}
              {{ if gt $k 2 }}
                &nbsp;&nbsp;
              {{ end }}
            {{ end }}

            <li>
              {{ if eq $.Paginator.PageNumber $k }}
                <span aria-disabled="true" aria-current="page" role="button" aria-label="Page {{ $k }}" class="inactive">{{ $k }}</span>
              {{ else }}
                <a href="{{ (index $.Paginator.Pagers (sub $k 1)).URL }}" role="button" aria-label="Page {{ $k }}">{{ $k }}</a>
              {{ end }}
            </li>

            {{ if eq $i 2 }}
              {{ if ne $k (sub $.Paginator.TotalPages 1) }}
                &nbsp;&nbsp;
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}

        {{/* The fixed last page block */}}
        <li>
          {{ if eq .PageNumber .TotalPages }}
            <span aria-disabled="true" aria-label="Page 1" role="button" class="inactive">{{ .TotalPages }}</span>
          {{ else }}
            <a href="{{ .Last.URL }}" aria-label="Page 1" role="button" >{{ .TotalPages }}</a>
          {{ end }}
        </li>

        {{/* The right arrow */}}
        <li>
          {{ with .Next }}
            <a href="{{ .URL }}" aria-label="Next" role="button" role="button" title="Next Page"><i class="bi bi-caret-right-fill"></i></a>
          {{ else }}
            <span aria-disabled="true" aria-label="Next" role="button"><i class="bi bi-caret-right-fill inactive"></i></span>
          {{ end }}
          </li>
      {{ end }}
    </ul>
  {{ end }}
</div>
