<div class="blog-meta blog-taxonomies">
  {{ $items := .Params.categories }}
  {{ if $items }}
    <i class="bi bi-folder"></i>&nbsp;
    {{ range $index, $element := $items }}
      <a href="/categories/{{ $element | urlize }}">{{ $element }}</a>
      {{ if lt $index (sub (len $items) 1) }} &#x2022;{{ end }}
    {{ end }}
  {{ end }}

  {{ $items := .Params.tags }}
  {{ if $items }}
    &nbsp;&nbsp;
    <i class="bi bi-tag"></i>&nbsp;
    {{ range $index, $element := $items }}
      <a href="/tags/{{ $element | urlize }}">{{ $element }}</a>
      {{ if lt $index (sub (len $items) 1) }} &#x2022;{{ end }}
    {{ end }}
  {{ end }}
</div>
