
<div class="text-xs mb-3 md:text-sm text-gray-400">
  {{ if gt .Params.categories 0 }}
    {{ $items := .Params.categories }}
    {{ $count:= len $items }}
    <i class="fa-regular fa-folder"></i>&nbsp;
    {{ range $index, $element := .Params.categories }}
      {{ $url_stub := . | urlize }}
      <a class="hover:text-red-600" href="/categories/{{- $url_stub }}">{{ . }}</a>
      {{- if lt (add $index 1) $count }}
        &#x2022;
      {{ end }}
    {{ end }}
    &nbsp;&nbsp;
  {{ end }}

  {{ if gt .Params.tags 0 }}
    {{ $items := .Params.tags }}
    {{ $count:= len $items }}
    <i class="fa-solid fa-hashtag"></i>&nbsp;
      {{ range $index, $element := .Params.tags }}
        {{ $url_stub := . | urlize }}
        <a class="hover:text-red-600" href="/tags/{{- $url_stub }}">{{ . }}</a>
        {{- if lt (add $index 1) $count }}
          &#x2022;
        {{ end -}}
      {{ end }}
  {{ end }}
</div>
