<div class="hidden md:block bg-black border-red-600 border-r-6 font-sans text-white">
  {{ if .IsHome }}
    <a class="">
        <span class="self-center text-xl font-semibold tracking-wider dark:text-gray-400">Bob Rockefeller</span>
    </a>
  {{ else }}
    <a href="/" class="flex items-center space-x-3">
        <span class="self-center text-xl font-semibold tracking-wide dark:text-gray-400 hover:text-red-600">Bob Rockefeller</span>
    </a>
  {{ end }}

  <div class="">
    <ul class="p-4 mt-4 font-medium">

      {{ $title := .Title }}
      {{- range .Site.Menus.main }}
        {{ if ne $title .Name }}
          <li class="">
            <a class="px-3 py-2 hover:text-red-600" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ else }}
          <li class="">
            <a class="px-3 py-2">{{ .Name }}</a>
          </li>
        {{ end }}
      {{- end }}
      <li>
        <button id="theme-toggle" type="button" class=" px-3 py-2 hover:text-red-600 dark:hover:text-red-900">
          <span id="theme-toggle-dark-icon" class=" w-5 h-5"><i class="fa-solid fa-moon"></i></span>
          <span id="theme-toggle-light-icon" class="hidden w-5 h-5"><i class="fa-solid fa-sun"></i></span>
        </button>
      </li>
    </ul>
  </div>
</div>
