<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . -}}

  <!-- DEV TOOLS START -->
    {{- partial "dev/dev-tools.html" . -}}
  <!-- DEV TOOLS END -->

  {{ "<!-- baseof.html. -->" | safeHTML }}
  <body class="mx-auto w-screen max-w-4xl p-6">
    {{- partial "header.html" . -}}

    {{- block "main" . }}{{- end }}

    {{- partial "footer.html" . -}}

  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  <script src="https://kit.fontawesome.com/0c37cebf77.js" crossorigin="anonymous"></script>

  </body>
</html>
