@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@import "flowbite/src/themes/default.css";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@source "hugo_stats.json";

@import "lightbox.css";
@import "brands.css";
@import "fontawesome.css";
@import "bootstrap-icons.css";

@theme {
  --font-sans: "PT Sans", "sans-serif";
  --font-serif: "PT Serif", "serif";
  --font-mono: "Monaco", "monospace";

  /* Light Theme */
  --color-lightest: Gainsboro;
  --color-light: Silver;
  --color-black: black;
  --color-primary: black;
  --color-primary-dim: gray;
  --color-primary-invert: white;
  --color-primary-highlight: red;
}

@variant dark {
  --color-lightest: LightGray;
  --color-light: DarkGray;
}

figcaption {
  text-align: center !important;
  font-size: 0.85rem;
  margin-top: 0 !important;
}

dt {
  @variant dark {
    color: rgb(107, 114, 128);
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@utility prose {
  code {
    &::before,
    &::after {
      display: none;
    }
  }
  :not(pre) > code {
    background-color: var(--color-lightest);
    padding: 0px 4px;
    border-radius: 5px;
  }
  dd {
    margin-top: 0;
  }
  p + ul {
    margin-top: -1.2em;
  }
}

.r-metadata {
  @apply text-primary-dim text-xs;
}

.r-article-title {
  @apply text-2xl font-bold md:text-4xl;
}

.r-article-title-link {
  @apply dark:hover:text-primary-highlight hover:text-primary-highlight text-2xl font-bold md:text-4xl;
}

.r-content {
  @apply prose prose-pre:text-wrap prose-a:hover:text-primary-highlight prose-base prose-headings:font-sans prose-h2:mt-8 prose-h2:mb-2 prose-h2:text-xl md:prose-xl md:prose-h2:text-3xl mt-6 max-w-none font-serif;
}

.r-next-previous {
  @apply text-primary bg-lightest hover:bg-primary-highlight flex h-10 w-30 items-center justify-center border border-gray-300 px-4 leading-tight dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-red-600;
}

.r-pagination-button {
  @apply bg-lightest hover:bg-primary-highlight ms-0 flex h-10 items-center justify-center border border-gray-300 px-4 leading-tight text-black dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-red-600;
}

.r-disabled {
  @apply text-primary-dim bg-lightest hover:bg-lightest border border-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-600 dark:hover:bg-gray-800 dark:hover:text-gray-600;
}

.r-logo-button {
  @apply hover:text-primary-highlight block px-3 py-2;
}

.r-menu {
  @apply block px-3 py-2 hover:text-red-600;
}
