@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@import "flowbite/src/themes/default.css";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@source "hugo_stats.json";

@import "lightbox.css";
@import "brands.css";
@import "fontawesome.css";
@import "bootstrap-icons.css";

@theme {
  --font-sans: "PT Sans", "sans-serif";
  --font-serif: "PT Serif", "serif";
}

figcaption {
  text-align: center !important;
  font-size: 0.85rem;
  margin-top: 0 !important;
}

dt {
  @variant dark {
    color: rgb(107, 114, 128);
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@utility prose {
  code {
    &::before,
    &::after {
      display: none;
    }
  }
}

.r-metadata {
  @apply text-xs text-gray-400 md:text-sm;
}

.r-article-title {
  @apply text-2xl font-bold hover:text-red-600 md:text-4xl dark:text-gray-400;
}

.r-content {
  @apply max-w-none font-serif mt-6 prose-sm prose prose-a:hover:text-red-600 md:prose-lg dark:text-gray-400 dark:prose-a:text-gray-400;
}
