<footer id="footer.html" class="flex border-t-6 border-red-600 mt-6 p-3 bg-black text-white">
    <p class="text-sm">
      &copy; {{ now.Year }} Bob Rockefeller. All Rights Reserved.
    </p>
    <p class="text-base ml-auto">
      <a href="https://github.com/bobrocke"><i class="fa-brands fa-github"></i></a>
      <a href="https://stackoverflow.com/users/1938118/bob-rockefeller"><i class="fa-brands fa-stack-overflow"></i></a>
      <a href="https://www.flickr.com/photos/bobrocke/"><i class="fa-brands fa-flickr"></i></a>
      <a href="https://500px.com/p/BobRockefeller?view=photos"><i class="fa-brands fa-500px"></i></a>
      <a href="https://www.facebook.com/bob.rockefeller/"><i class="fa-brands fa-facebook"></i>
      </a>
    </p>
</footer>
