
<div class="md:text-sm mb-3 mt-1">
  <i class="fa-regular fa-calendar"></i>&nbsp;&nbsp;{{ .Date | time.Format ":date_long" }}
  {{ if ne .Lastmod .Date }}
    &nbsp;&nbsp;Last Edited: {{ .Lastmod | time.Format ":date_long" }}
  {{ end }}

  {{ if gt .Params.categories 0 }}
    {{ $items := .Params.categories }}
    {{ $count:= len $items }}
    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-regular fa-folder"></i>&nbsp;
      {{ range $index, $element := .Params.categories }}
        {{- . }}
        {{- if lt (add $index 1) $count }}
          &#x2022;
        {{ end -}}
      {{ end }}
  {{ end }}
</div>
