{{ define "main" }}
  {{ "<!-- layouts/page.html -->" | safeHTML }}

  {{ $pages := .CurrentSection.Pages.ByDate }}

  <div class="content">
    {{ partial "post-meta-dates.html" . }}
    <h1 class="r-article-title">{{ .Title }}</h1>
    {{ partial "post-meta-tax.html" . }}
    <div class="prose">
      {{ .Content }}
    </div>

    <div class="page-nav">
      {{ with $pages.Prev . }}
        <div>
          <a href="{{ .RelPermalink }}" aria-label="Newer" role="button">
            <i class="bi bi-caret-left-fill"></i>Newer Post
          </a>
        </div>
      {{ else }}
        <div class="inactive">
          <span aria-label="Newer" class="inactive" role="button" aria-disabled="true"><i class="bi bi-caret-left-fill"></i>Newer Post</span>
        </div>
      {{ end }}


      {{ with $pages.Next . }}
        <div>
          <a href="{{ .RelPermalink }}" aria-label="Older" role="button">
            Older Post<i class="bi bi-caret-right-fill"></i>
          </a>
        </div>
      {{ else }}
        <div class="inactive">
          <span aria-label="Older" class="inactive" role="button" aria-disabled="true">Older Post<i class="bi bi-caret-right-fill"></i></span>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
