{{ define "main" }}
  {{ "<!-- layouts/term.html -->" | safeHTML }}
  <div class="content">
    <h1 class="heading">Posts about {{ .Title }}</h1>

    {{ $pages := .Pages}}
    {{ $paginator := .Paginate $pages.ByDate.Reverse 4 }}

    {{ range $paginator.Pages }}
      <div>
        {{ partial "post-meta-dates.html" . }}
        <h2 class="blog-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{ partial "post-meta-tax.html" . }}
        <div class="prose post-summary">
          {{ .Summary }}
        </div>
      </div>
    {{ end }}

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
