{{ define "main" }}
  {{ "<!-- layouts/term.html -->" | safeHTML }}
  <div class="break-after-column mt-8 mx-8">
    <h1 class="text-xl md:text-3xl mb-6 dark:text-gray-400">Posts about {{ .Title }}</h1>

    {{ $pages := .Pages}}
    {{ $paginator := .Paginate $pages.ByDate.Reverse 4 }}

    {{ range $paginator.Pages }}
      <div class="mb-14">
        {{ partial "post-meta-dates.html" . }}
        <h3 class="text-xl font-bold hover:text-red-600 md:text-4xl dark:text-gray-400 dark:hover:text-red-900"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
        {{ partial "post-meta-tax.html" . }}
        <div class="max-w-none mt-6 font-serif prose-sm prose prose-a:hover:text-red-600 md:prose-lg dark:text-gray-400 dark:prose-a:text-gray-400">{{ .Summary }}</div>
      </div>
    {{ end }}
  </div>

    {{ partial "pagination.html" . }}

{{ end }}
